<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" (keyup)="validadorInput(item.task, i)" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}">

            <button (click)="deleteItemTaskList(i)">
                <img src="assets/icons/icon-trash.svg" alt="">
            </button>

    </ul>
</section>

<app-todo-inpu-add-itens (emitItemTaskList)="setEmiteTaskList($event)"></app-todo-inpu-add-itens>
<app-todo-button-dellete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-todo-button-dellete-all>
