<section>
    <ul>
        <li>
            <input type="checkbox">
            <input type="text">

            <button>
                <img src="assets/icons/icon-trash.svg" alt="">
            </button>

            <li>
                <input type="checkbox">
                <input type="text" class="checked">
    
                <button>
                    <img src="assets/icons/icon-trash.svg" alt="">
                </button>
            </li>
    </ul>
</section>

<app-todo-inpu-add-itens></app-todo-inpu-add-itens>
<app-todo-button-dellete-all></app-todo-button-dellete-all>
